<% num_articles = 0%>
<table id="article_index">
	<thead>
		<tr>
	      <th>Title</th>
	      <th>Author Name</th>
	      <th>Body</th>
	      <th>Creation Date</th>
	      <th></th>
		</tr>
	</thead>
	<tbody id="article_index_body">
	  <% articles.each do |article| %>
	  <tr <% if num_articles.odd? %>
	          style="background-color:#dfdfdf;"
	        <% end %>>
	        <% num_articles = num_articles + 1 %>
	      <td><%= article.title %></td>
	      <td><%= article.author.name %></td>
	      <td><%= article.content.truncate(80) %></td>
	      <td><%= article.created_at.strftime("%b %d, %Y %I:%M %p") %></td>
	      <td id="icons"><%= link_to image_tag('/assets/Search.png', :size => '30x30'), article, :title => "View" %>
	      <%= link_to image_tag('/assets/Pencil.png', :size => '30x30'), edit_article_path(article), :title => "Edit" %>
	      <%= link_to image_tag('/assets/Trash.png', :size => '30x30'), article, confirm: 'Are you sure?', method: :delete, :title => "Delete" %></td>
	  </tr>
	  <% end %>
	</tbody>
</table>