<p id="notice"><%= notice %></p>

<h2><%= @author.name %></h2>
<% if @author.photo? %>
	<%= image_tag @author.photo.url(:small)%>
<% end %>
<p><%=  %></p>

<%if @author.articles.count > 0 %>
<% num_articles = 1 %>
	<%= render :partial => 'shared/articles_table', :locals => { :articles => @author.articles } %>
<% else %>
	<h3>There are no articles to display for this author</h3>
<% end %>
