<!DOCTYPE html>
<html>
<head>
  <title>Gamez</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<% if current_user %>
	<p id="user_nav">Welcome <%= current_user.first_name %>. <%= link_to "Sign out", destroy_user_session_path, :method => :delete %></p>
<% else %>
	<p id="user_nav"><%= link_to "Sign in", new_user_session_path %> | <%= link_to "Register", new_user_registration_path %></p>
<% end %>
<h1 id="application_title"><%=link_to 'Gamez', root_url %></h1>

<%= yield %>

</body>
</html>
