- content_for :stylesheet_links do
  = stylesheet_link_tag "games", :media => "all"
  = stylesheet_link_tag "shared", :media => "all"
%p#notice= notice
- if flash[:error]
  %p.flash_error= flash[:error]
= will_paginate @users, :class => "paginator"
%table.pretty_table
  %thead
    %tr
      %th Title
      %th Rating
      %th Added
      %th Added By
  %tbody
    - @games.each do |game|
      %tr{:class => cycle("odd_row", "even_row")}
        %td
          - if permitted_to? :edit, game
            = link_to game.title, edit_game_path(game)
          - else
            = game.title
        %td= game.rating
        %td= game.created_at
        %td
          - if current_user and game.user.username == current_user.username
            = link_to "me", current_user
          - else
            -if permitted_to? :edit, game.user
              = link_to game.user.username, edit_user_path(game.user)
            - else
              = game.user.username
= will_paginate @users, :class => "paginator"
