<% content_for :stylesheet_links do %>
	<%= stylesheet_link_tag "games", :media => "all" %>
	<%= stylesheet_link_tag "shared", :media => "all" %>
<% end %>
<p id="notice"><%= notice %></p>
<%= will_paginate @users, :class => "paginator"%>
<table class="pretty_table">
	<thead>
	  <tr>
	    <th>Title</th>
	    <th>Rating</th>
	    <th>Added</th>
	  </tr>
	</thead>
	<tbody>
		<% @games.each do |game| %>
		  <tr class="<%= cycle("odd_row", "even_row")%>">
		    <td><%= game.title %></td>
		    <td><%= game.rating %></td>
		    <td><%= game.created_at %></td>
		  </tr>
		<% end %>
	</tbody>
</table>
<%= will_paginate @users, :class => "paginator"%>
