<% content_for :subtext do %>
<p>...with a name .com hipsters love</p
<% end %>

<p id="notice"><%= notice %></p>
<div id="create_container">
  <h1 id="index_header">All the World's Articles</h1>
  <%= link_to image_tag('/assets/Add.png', :size => '30x30') + "Create a New Article", 
  new_article_path, :title => 'Create Article' %>
</div>

<%= will_paginate @articles %>

<%if @articles.count > 0 %>

	<%= render :partial => 'shared/articles_table', :locals => { :articles => @articles } %>
	
<p><%= pluralize(@articles.count, "article")%></p>

<%= will_paginate @articles %>

<% else %>
<h3>There are currently no articles to display</h3>
<% end %>
